@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: monospace;
  @apply bg-white;
}

h1{
  @apply text-4xl lg:text-4xl xl:text-5xl md:text-3xl sm:text-3xl text-gray-700 tracking-tight font-semibold
}

h2{
  @apply text-3xl lg:text-3xl xl:text-4xl md:text-3xl sm:text-3xl text-gray-700 tracking-tight font-semibold
}

p{
  @apply text-gray-700 tracking-tighter font-extralight
}


.active-link {
  color: rgb(255, 255, 255) ;
  background:#032c9e;
  padding: 4px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 5px;
  font-size: large;
  font-family: monospace;
  @apply tracking-widest;
}

.inactive-link{
  font-size:  large;
  font-family: monospace;
  @apply tracking-widest;
}
 

.inactive-link:hover{
  background:#8dd1ff;
  padding: 4px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 5px;
  font-size: large;
  font-family: monospace;
  @apply tracking-widest;
}


html, body {
  max-width: 100%;
  overflow-x: hidden;
}